<div class="title">Правила игры</div>
<ul class="content">
    <li>Число в ячейке показывает, сколько мин скрыто вокруг данной ячейки . Это число поможет понять вам, где находятся безопасные ячейки, а где находятся бомбы.</li>
    <li>Если рядом с открытой ячейкой есть пустая ячейка, то она откроется автоматически.</li>
    <li>Если вы открыли ячейку с миной, то игра проиграна.</li>
    <li>Что бы пометить ячейку, в которой находится бомба, нажмите её правой кнопкой мыши.</li>
    <li>После того, как вы отметите все мины, можно навести курсор на открытую ячейку и нажать правую и левую кнопку мыши одновременно. Тогда откроются все свободные ячейки вокруг неё.</li>
    <li>Игра продолжается до тех пор, пока вы не откроете все не заминированные ячейки.</li>
</ul>
<div class="actions">
    <button md-button color="primary" (click)="close()">Закрыть</button>
</div>