:host {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.title {
	text-align: center;
	padding-bottom: 16px;
	font-size: 18px;
}

li {
	padding-bottom: 6px;
}

.actions {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}