<div class="title">Game rules</div>
<ul class="content">
    <li>The number in a cell shows how many mines are hidden around a given cell. This number will help you understand where the safe cells are and where the mines are.</li>
    <li>If there is an empty cell next to an open cell, it will open automatically.</li>
    <li>If you open a cell with a mine, then the game is lost.</li>
    <li>To mark a cell containing a mine, right-click it.</li>
    <li>Once you have marked all the mines, you can move the cursor over an open cell and press the right and left mouse buttons at the same time. Then all free cells around it will open.</li>
    <li>The game continues until you open all cells without mines.</li>
</ul>
<div class="actions">
    <button md-button color="primary" (click)="close()">Close</button>
</div>
