<md-sidenav-container class="sidenav-container">

    <md-toolbar color="primary">

        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>

        <span class="title">Miner</span>

        <span class="spacer"></span>

        <button md-icon-button (click)="onStart()">
            <md-icon>refresh</md-icon>
        </button>

        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item (click)="showStatistics()">
                <md-icon>star_border</md-icon>
                <span>Statistics</span>
            </button>
            <button md-menu-item (click)="showRules()">
                <md-icon>list</md-icon>
                <span>Rules</span>
            </button>
            <button md-menu-item (click)="showAbout()">
                <md-icon>info_outline</md-icon>
                <span>About</span>
            </button>
        </md-menu>

    </md-toolbar>

    <md-sidenav #sidenav class="sidenav">

        <md-toolbar class="menu-header">
            <md-icon svgIcon="bomb"></md-icon>
            <span class="menu-title">Miner</span>
        </md-toolbar>

        <form class="settings" #optionsForm="ngForm" novalidate>
            <md-radio-group class="radio-group" name="complexity" [(ngModel)]="complexity">
                <md-radio-button class="radio"
                                 *ngFor="let level of levels; let i = index; let f = first"
                                 [value]="i">{{level.title}}</md-radio-button>
            </md-radio-group>

            <div class="params" *ngIf="complexity == 3">

                <md-input-container>
                    <input color="primary" mdInput [(ngModel)]="options.height"
                           pattern="[\d]{1,2}"
                           type="number"
                           name="height"
                           placeholder="Game field height"
                           required>
                </md-input-container>

                <md-input-container>
                    <input color="primary" mdInput [(ngModel)]="options.width"
                           pattern="[\d]{1,2}"
                           type="number"
                           name="width"
                           placeholder="Game field width"
                           required>
                </md-input-container>

                <md-input-container>
                    <input color="primary" mdInput [(ngModel)]="options.mines"
                           pattern="[\d]{1,2}"
                           type="number"
                           name="mines"
                           placeholder="Number of mines"
                           required>
                </md-input-container>
            </div>

            <button md-raised-button
                    color="primary"
                    [disabled]="optionsForm.invalid"
                    class="play"
                    type="button"
                    (click)="onStart(); sidenav.close()">Play</button>
        </form>
    </md-sidenav>

    <div class="content">
        <md-card class="game-card">

            <md-card-title class="title">{{lvlTitle}}</md-card-title>

            <md-card-content>
                <div class="gameBox">
                    <div *ngIf="field.length" class="gameField">
                        <ul *ngFor="let row of field">
                            <li *ngFor="let cell of row"
                                (click)="cellClick(cell)"
                                (mouseup)="up($event, cell)"
                                (mousedown)="down($event, cell)"
                                (contextmenu)="rightClick($event, cell)"
                                [class.open]="cell.state == 1"
                                [class.boom]="cell.state == 3 || cell.state == 4"
                                [class.boomTarget]="cell.state == 4"
                                [class.flag]="cell.flag"
                                [class.active]="cell.active"

                                [class.one]="cell.title == 1"
                                [class.two]="cell.title == 2"
                                [class.three]="cell.title == 3"
                                [class.four]="cell.title == 4"
                                [class.five]="cell.title == 5"
                                [class.six]="cell.title == 6"
                                [class.seven]="cell.title == 7"
                                [class.eight]="cell.title == 8"

                            >{{cell.state == 1 ? cell.title : ''}}</li>
                        </ul>
                    </div>
                </div>

                <div class="panel">
                    <div class="infoBox">
                        <md-icon svgIcon="timer"></md-icon>
                        <div class="time info">{{time >= 999 ? 999 : time}}</div>
                    </div>
                    <div class="infoBox">
                        <div class="mines info">{{stateGame.mines}}</div>
                        <md-icon svgIcon="bomb"></md-icon>
                    </div>
                </div>
            </md-card-content>

        </md-card>
    </div>

</md-sidenav-container>


