<md-sidenav-container class="sidenav-container">
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        <span class="title">Сапер</span>
        <span class="spacer"></span>
        <button md-icon-button>
            <md-icon>more_vert</md-icon>
        </button>
    </md-toolbar>


    <md-sidenav #sidenav class="sidenav">
        <md-toolbar class="menu-header">
            <md-icon svgIcon="bomb"></md-icon>
            <span class="menu-title">Сапер</span>
        </md-toolbar>

        <form class="settings" #optionsForm="ngForm" novalidate>
            <md-radio-group class="radio-group">
                <md-radio-button *ngFor="let level of levels" class="radio" value="1">{{level.title}}</md-radio-button>
                <!--<md-radio-button class="radio" value="2">Любитель</md-radio-button>-->
                <!--<md-radio-button class="radio" value="3">Профессионал</md-radio-button>-->
                <md-radio-button class="radio" value="4" #custom>Настроить</md-radio-button>
            </md-radio-group>
            <div class="params" *ngIf="custom.checked">
                <md-input-container>
                    <input color="primary" mdInput [(ngModel)]="options.width"
                           pattern="[\d]{1,2}"
                           type="number"
                           name="width"
                           placeholder="Высота поля"
                           required>
                </md-input-container>
                <md-input-container>
                    <input color="primary" mdInput [(ngModel)]="options.height"
                           pattern="[\d]{1,2}"
                           type="number"
                           name="height"
                           placeholder="Ширина поля"
                           required>
                </md-input-container>
                <md-input-container>
                    <input color="primary" mdInput [(ngModel)]="options.mines"
                           pattern="[\d]{1,2}"
                           type="number"
                           name="mines"
                           placeholder="Количество мин"
                           required>
                </md-input-container>
            </div>
            <button md-raised-button
                    color="primary"
                    [disabled]="optionsForm.invalid"
                    class="play"
                    (click)="play($event)">Играть</button>
        </form>
    </md-sidenav>

    <md-card class="game-field">
        <h1>Новичек</h1>

        <h1 *ngIf="stateGame.victory">Victory!</h1>
        <h1 *ngIf="stateGame.lose">Lose!</h1>

        <div class="gameBox">
            <div *ngIf="field.length" class="gameField">
                <ul *ngFor="let row of field">
                    <li *ngFor="let cell of row"
                        (click)="cellClick(cell)"
                        (mouseup)="up($event, cell)"
                        (mousedown)="down($event, cell)"
                        (contextmenu)="rightClick($event, cell)"
                        [class.open]="cell.state == 1"
                        [class.boom]="cell.state == 3"
                        [class.flag]="cell.flag"
                        [class.active]="cell.active"

                        [class.one]="cell.title == 1"
                        [class.two]="cell.title == 2"
                        [class.three]="cell.title == 3"
                        [class.four]="cell.title == 4"
                        [class.five]="cell.title == 5"
                        [class.six]="cell.title == 6"
                        [class.seven]="cell.title == 7"
                        [class.eight]="cell.title == 8"

                    >{{cell.state == 1 ? cell.title : ''}}</li>
                </ul>
            </div>
        </div>



    </md-card>

</md-sidenav-container>


