<div class="title">Statistics</div>
<div class="content">
    <md-tab-group>
        <md-tab *ngFor="let stat of statistics" label="{{stat.title}}">
                <div class="line">
                    <div class="best">Best time: {{stat.best || ' - ' }} sec.</div>
                    <div class="date">Date: {{stat.date ? (stat.date | date: 'dd.MM.yyyy') : ' - '}}</div>
                </div>
                <div class="line">
                    <div class="game">Games: {{stat.game}}</div>
                </div>
                <div class="line">
                    <div class="win">Wins: {{stat.win}}</div>
                    <div class="percent">Winning percentage: {{stat.percent ? (stat.percent | number: '1.0-0') : 0}}%</div>
                </div>
                <div class="actions">
                    <button md-button color="primary" (click)="onClear(stat)">Clear</button>
                </div>
        </md-tab>
    </md-tab-group>
</div>
