<div class="title">{{res.title}}</div>
<div class="content">
    <div class="line">
        <div class="time">Time: {{res.time}} sec.</div>
        <div class="date" *ngIf="complexity !== 3">Date: {{res['stat'].date ? (res['stat'].date | date: 'dd.MM.yyyy') : ' - '}}</div>
    </div>
    <div *ngIf="complexity !== 3">
        <div class="line">
            <div class="best">Best time: {{res['stat'].best || ' - ' }} sec.</div>
        </div>
        <div class="line">
            <div class="game">Games: {{res['stat'].game}}</div>
        </div>
        <div class="line">
            <div class="win">Wins: {{res['stat'].win}}</div>
            <div class="percent">Winning percentage: {{percent}}%</div>
        </div>
    </div>

</div>
<div class="actions">
    <button md-button color="primary" (click)="close(false)">Close</button>
    <button md-raised-button color="primary" (click)="close(true)">New game</button>
</div>
