:host {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.title {
	text-align: center;
	padding-bottom: 26px;
	font-size: 18px;
}

.line {
	padding: 0 16px 16px 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
}

.actions {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}