:host {
	width: 100%;
	height: 100%;
	background: #91a0b5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gameField {
	margin: 100px auto;
	border: 1px solid #747f89;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

li {
	width: 30px;
	height: 30px;
	background: radial-gradient(#5273dd, #344bbe);
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #10224b;
	user-select: none;
	font-size: 20px;
	font-weight: bold;
	position: relative;
}

li:hover {
	border: 1px solid #5c73b7;
	background: radial-gradient(#a8c6fa, #a0bcf2);
}

li.mine {
	position: absolute;
}

li.mine:before {
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 15px;
	height: 15px;
	background: url(../../assets/bomb.svg) center center / cover no-repeat;
}

li.open {
	background: radial-gradient(#bfd0e7, #e1e7f3);
}

li.boom:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background: url(../../assets/boom.svg) center center / cover no-repeat;
}

li.flag:before {
	content: '';
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 15px;
	height: 15px;
	background: url(../../assets/flag.png) center center / cover no-repeat;
}

li.active {
	background: radial-gradient(#7ba2dd, #566ebb);
}

li.one {
	color: #4651a5;
}

li.two {
	color: #2c8d2a;
}

li.three {
	color: #98030e;
}

li.four {
	color: #03007b;
}
li.five {
	color: #5e050d;
}
li.six {
	color: #006c73;
}
li.seven {
	color: #736600;
}
li.eight {
	color: #5e3b50;;
}