<h1 *ngIf="stateGame.victory">Victory!</h1>
<h1 *ngIf="stateGame.lose">Lose!</h1>

<div class="gameField">
    <ul *ngFor="let row of field">
        <li *ngFor="let cell of row"
            (click)="cellClick(cell)"
            (mouseup)="up($event, cell)"
            (mousedown)="down($event, cell)"
            (contextmenu)="rightClick($event, cell)"
            [class.open]="cell.state == 1"
            [class.boom]="cell.state == 3"
            [class.flag]="cell.flag"
            [class.active]="cell.active"
        >{{cell.state == 1 ? cell.title : ''}}</li>
        <!--[class.mine]="cell.state == 2"-->
    </ul>
</div>



