<div class="title">О программе</div>
<div class="content">
    <md-card-header>
        <md-icon md-card-avatar svgIcon="bomb"></md-icon>
        <md-card-title>Сапер</md-card-title>
        <md-card-subtitle>Logic game</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <div class="version">Version: 1.0.0</div>
        <div class="licence">© Yankee Man, 2017. All rights reserved.</div>
        <div class="tools">Developed by Angular(4)</div>
        <div class="github">
            <md-icon svgIcon="github"></md-icon>
            <a href="https://github.com/YankeeMan2012/ANGULAR-Miner" target="_blank">GitHub link</a>
        </div>
    </md-card-content>

</div>
<div class="actions">
    <button md-button color="primary" (click)="close()">Закрыть</button>
</div>