:host {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.title {
	text-align: center;
	padding-bottom: 16px;
	font-size: 18px;
}

li {
	padding-bottom: 6px;
}

.actions {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.github {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16px;
	a {
		color: #3f51b5;
		text-decoration: none;
		margin-left: 10px;
	}
}